/* You can add global styles to this file, and also import other style files */
body {
  background-color: #e3f2fd;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #0d47a1;
}
